body{
    background-color: black;
}

.homecontainer{
    background-color: antiquewhite;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
}

a{
    text-decoration: none;
}

.btn{
    width: 200px;
    height: 80px;
    font-size: 28px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    background-color: blue;
    text-decoration: none;
}
.btn:hover {
    background-color: solid black;
    color: white;
}